
{% extends 'base.html' %}
{% block content %}
<h1>List Trainees</h1>
<table border="1" width="100%" style="text-align:center; ">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Profile Image</th>
        <th>Course</th>
        <th>Joined Date</th>
        <th>Is Active</th>
        <th>Action</th>
        {%for trainee in  trainees%}
            <tr>
                    <td>{{trainee.id}}</td>
                    <td>{{trainee.name}}</td>
                    <td>{{trainee.email}}</td>
                    <td>{{trainee.age}}</td>

                    <td>
                         <img width="150" height="75" src="{{trainee.image.url}}" alt="{{trainee.image}}"/>
                    </td>
                   <td>{{trainee.course}}</td>
                    <td>{{trainee.joined_date}}</td>
                    <td>{{trainee.isactive}}</td>

                    <td>
                        <a href="{%url 'update_trainee' trainee.id%}"id="link">Update</a>
                        <a href="{%url 'delete_trainee' trainee.id%}" id="link">Delete</a>

                    </td>
            </tr>
        {%endfor%}
    </tr>
</table>
<br><br>
<a href="{%url 'add_trainee' %}" id="link">Add</a>




{% endblock %}

