

{% extends 'base.html'%}
{%block tit%}
Trainee - Update
{%endblock%}
{%block content%}
<h1>Update Trainees</h1>
<!--<img src="/media/{{oldobj.image}}">-->
<form method="post" enctype="multipart/form-data" >
    {%csrf_token%}
    <label>Name:</label>
    <input type="text" required name="trname" value="{{oldobj.name}}">
    </br>
    <label>Email:</label>
    <input type="text" required name="tremail" value="{{oldobj.email}}">
  </br>
    <label>Age:</label>
    <input type="number" required name="trage" value="{{oldobj.age}}">
    </br>
    <select name="trcourse">
        <option>select course</option>
        {%for course in courses%}
        {%if course.id == oldobj.course.id%}
           <option value="{{course.id}}" selected>{{course.name}}</option>
        {%else%}
           <option value="{{course.id}}">{{course.name}}</option>
        {%endif%}
        {%endfor%}
    </select>
    <br>
    <label>Joined_date:</label>
    <input type="date" required name="trdate" value="{{oldobj.joined_date}}">
    </br>
    <label>Profile image:</label>
    <input type="file" required name="trimg" value="{{oldobj.image}}">
    </br>
    <input type="submit" value="Update" id="link">
</form>
{%endblock%}