<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        tr,td{
        padding:20px;
        font-size:30px
        }
    </style>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1>List Courses</h1>
<table border="1" width="100%" style="text-align:center; ">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date </th>
        <th>Action</th>


        {%for course in  courses%}
            <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td>{{course.start_date}}</td>
                    <td>{{course.end_date}}</td>

                    <td>
                        <a href="{%url 'update_course' course.id%}" id="link">Update</a>
                        <a href="{%url 'delete_course' course.id%}" id="link">Delete</a>

                    </td>
            </tr>
        {%endfor%}
    </tr>
</table>
<br><br>
<a href="{%url 'add_course' %}" id="link">Add</a>




{% endblock %}

</body>
</html>